.btn{
    position: flex;
    padding: 10px 20px;
    font-family: Century Gothic;
    font-size: large;
    font-weight: 500;
    border: none;
    outline: none;
    background: blueviolet;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 700px;
    
}

.btn :hover{
    background: black;
    color: rgb(101, 26, 171);
    
}



.btn0{
    margin-top: 200px;
    margin-left: 620px;
    outline: blue;
}
