.in1{
  top:20%;
  left:50%;
  width:50%;
padding-top:1rem;
padding-bottom:1rem;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
          border-color: black;
          margin-top: 50px;
          margin-left: 800px;
}

.in2{
  
  top:30%;
  left:50%;
  width:50%;
padding-top:1rem;
padding-bottom:1rem;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
          border-color: black;
          margin-top: 20px;
          margin-left: 800px;
}

.in3{
  
  top:40%;
  left:50%;
  width:50%;
padding-top:1rem;
padding-bottom:1rem;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
          border-color: black;
          margin-top: 20px;
          margin-left: 800px;
}

.in4{
 
  top:50%;
  left:50%;
  width:50%;
padding-top:1rem;
padding-bottom:1rem;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
          border-color: black;
          margin-top: 20px;
          margin-left: 800px;
}
.in5{
  
  top:60%;
  left:50%;
  width:50%;
padding-top:1rem;
padding-bottom:1rem;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
          border-color: black;
          margin-top: 30px;
          margin-left: 800px;
}


 
.bb {
  
  top: 100%;
  left: 42%;
  /* padding-bottom: 2px; */
  transform: translate(-50, -50);
  margin-left: 700px;
 }
 
 .bb {
  background:rgb(34, 34, 218);
  color: #ccc;
  width: 180px;
  height: 40px;
  border: 1px solid rgb(7, 7, 74);
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
  margin-right: -350px;
 }
 
 .bb:focus {
  outline: none;
 }
 
 .bb:before {
     content: '';
     display: block;
     position: absolute;
     background: rgba(255,255,255,.5);
     width: 60px;
     height: 100%;
     left: 0;
     top: 0;
     opacity: .5;
     filter: blur(30px);
     transform: translateX(-130px) skewX(-15deg);
 }
 
 .bb:after {
     content: '';
     display: block;
     position: absolute;
     background: rgba(255,255,255,.2);
     width: 30px;
     height: 100%;
     left: 30px;
     top: 0;
     opacity: 0;
     filter: blur(30px);
     transform: translateX(-100px) scaleX(-15deg);
 }
 
 .bb:hover {
    background: rgb(7, 7, 74);
    cursor: pointer;
 }
 
.bb:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
 }
 
 .bb:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
 }

 form{
   margin-top: 50px;
 }

#icone1{
  margin-top: 50px;
  margin-left: 800px;
  
}
#icone2{
  margin-top: 130px;
  margin-right: -100px;
}
#icone3{
  margin-top: 100px;
  margin-right: -500px;
}
#icone4{
  margin-top: 100px;
  margin-right: -500px;
}
#icone5{
  margin-top: 100px;
  margin-right: -500px;
}




