


.feed2-list-item {
    min-height: 350px;
    margin: 40px;
    list-style: none;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 8px;
    padding: 30px 50px 0px 50px;
    box-shadow: 10px 10px 5px #aaaaaa;
    color: rgb(13, 2, 75);
    width: 700px;
    margin-left: 400px;
}
.feed2-list-item-poster{
    font-family: Times New Roman;
      font-weight: bold;
  }
  
  .feed2-list-item-description {
    /* margin-top: 15px; */
    font-family: Times New Roman;
    font-weight: bold;
  }
  
  .feed2-list-item-address {
    font-family: Times New Roman;
    font-weight: bold;
  }

  
/**********************************************************/

.feed4-list-item {
    min-height: 350px;
    margin: 40px;
    list-style: none;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 8px;
    padding: 30px 50px 0px 50px;
    box-shadow: 10px 10px 5px #aaaaaa;
    color: rgb(13, 2, 75);
    width: 700px;
    margin-left: 400px;
}
.feed4-list-item-poster{
    font-family: Times New Roman;
      font-weight: bold;
  }
  
  .feed4-list-item-description {
    /* margin-top: 15px; */
    font-family: Times New Roman;
    font-weight: bold;
  }
  
  .feed4-list-item-address {
    font-family: Times New Roman;
    font-weight: bold;
  }