.m {
    position: absolute;
    top: 70%;
    left: 42%;
    /* padding-bottom: 2px; */
    transform: translate(-50, -50);
  }
  .m {
    background: rgb(14, 193, 100);
    color: white;
    width: 130px;
    height: 40px;
    border: 1px solid rgb(34, 218, 123);
    font-size: 18px;
    border-radius: 4px;
    transition: 0.6s;
    overflow: hidden;
    margin-top: -400px;
    margin-left: -630px;
  }
  .m:focus {
    outline: none;
  }
  .m:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
  }
  .m:after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
  }
  .m:hover {
    background: rgb(10, 96, 37);
    cursor: pointer;
  }
  .m:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
  }
  .m:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
  }
.l {
    position: absolute;
    top: 70%;
    left: 42%;
    /* padding-bottom: 2px; */
    transform: translate(-50, -50);
  }
  .l {
    background: rgb(14, 193, 100);
    color:white;
    width: 130px;
    height: 40px;
    border: 1px solid rgb(14, 193, 100);
    font-size: 18px;
    border-radius: 4px;
    transition: 0.6s;
    overflow: hidden;
    margin-top: 170px;
    margin-left: 735px;
  }
  .l:focus {
    outline: none;
  }
  .l:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
  }
  .l:after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
  }
  .l:hover {
    background: rgb(10, 96, 37);
    cursor: pointer;
  }
  .l:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
  }
  .l:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
  }
