

.i1{
  position:absolute;
  top:20%;
  left:50%;
  width:50%;
padding-top:1rem;
padding-bottom:1rem;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
          border-color: black;
        
background: #f1f1f1;
}

/* .inputFields > label{
font-size: 20px;
margin-top: 50px;

} */

/*this one to make inputs organized*/

label{
width: 240px;
display: inline-block;
}
.inputFields > input{
margin: 20px;
background-color: #f1f1f1;
width: 50%;
padding-top:0.5rem;
padding-bottom:0.5rem;
margin-top: 50px;
display: inline-block;
}

.inputFields > select{
font-size: 20px;
width: 240px;
}



.i2{
  position:absolute;
  top:30%;
  left:50%;
  width:50%;
padding-top:1rem;
padding-bottom:1rem;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
          border-color: black;
          background: #f1f1f1;
}

.i3{
  position:absolute;
  top:40%;
  left:50%;
  width:50%;
padding-top:1rem;
padding-bottom:1rem;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
          border-color: black;
          background: #f1f1f1;
}

.i4{
  position:absolute;
  top:50%;
  left:50%;
  width:50%;
padding-top:1rem;
padding-bottom:1rem;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
          border-color: black;
          background: #f1f1f1;
}

.i5{
  position:absolute;
  top:50%;
  left:50%;
  width:50%;
padding-top:1rem;
padding-bottom:1rem;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
          border-color: black;
          background: #f1f1f1;
}

.form{
position:absolute;
top:20%;
left:50%;
width:50%;
padding-top:0.5rem;
padding-bottom:0.5rem;
-webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        border-color: black;
        background: white;
        width: 700px;
        height: 50px;

}

.title{
text-align: center;
}

.sub{
text-align: center;
}


.btn{
  padding: 10px 20px;
  font-family: Century Gothic;
  font-size: large;
  font-weight: 500;
  border: none;
  outline: none;
  background: blueviolet;
  border-radius: 8px;
  position: center;
  margin-top: 500px;
  margin-left: 20px;
  
}

.btn :hover{
  background: black;
  color: rgb(101, 26, 171);
}

.button {
position: absolute;
top: 1200%;
left: 68%;
/* padding-bottom: 2px; */
transform: translate(-50, -50);
}

.button {
background:rgb(34, 34, 218);
color: #ccc;
width: 140px;
height: 30px;
border: 1px solid rgb(7, 7, 74);
font-size: 18px;
border-radius: 4px;
transition: .6s;
overflow: hidden;
}

.button:focus {
outline: none;
}

.button:before {
   content: '';
   display: block;
   position: absolute;
   background: rgba(255,255,255,.5);
   width: 60px;
   height: 100%;
   left: 0;
   top: 0;
   opacity: .5;
   filter: blur(30px);
   transform: translateX(-130px) skewX(-15deg);
}

.button:after {
   content: '';
   display: block;
   position: absolute;
   background: rgba(255,255,255,.2);
   width: 30px;
   height: 100%;
   left: 30px;
   top: 0;
   opacity: 0;
   filter: blur(30px);
   transform: translateX(-100px) scaleX(-15deg);
}

.button:hover {
  background: rgb(7, 7, 74);
  cursor: pointer;
}

.button:hover:before {
transform: translateX(300px) skewX(-15deg);
opacity: .6;
transition: .7s;
}

.button:hover:after {
transform: translateX(300px) skewX(-15deg);
opacity: 1;
transition: .7s;
}