.i1 {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-color: black;

  background: #f1f1f1;
}

.i2 {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-color: black;
  background: #f1f1f1;
}

.i3 {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-color: black;
  background: #f1f1f1;
}

.i4 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-color: black;
  background: #f1f1f1;
}

.i5 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-color: black;
  background: #f1f1f1;
}

.btn {
  padding: 10px 20px;
  font-family: Century Gothic;
  font-size: large;
  font-weight: 500;
  border: none;
  outline: none;
  background: blueviolet;
  border-radius: 8px;
  position: center;
  margin-top: 500px;
  margin-left: 20px;
}

.btn :hover {
  background: black;
  color: rgb(101, 26, 171);
}
