.btn1{
    padding: 10px 20px;
    font-family: Century Gothic;
    font-size: large;
    font-weight: 500;
    border: none;
    outline: none;
    background: blueviolet;
    border-radius: 8px;
    position: center;
    margin-top: 300px;
    margin-left: 520px;
    width: 200px;
    height: 100px;
    text-align: center;
    
    
    
}

.btn1 :hover{
    background: black;
    color: rgb(101, 26, 171);
}

.btn2{
    padding: 10px 20px;
    font-family: Century Gothic;
    font-size: large;
    font-weight: 500;
    border: none;
    outline: none;
    background: blueviolet;
    border-radius: 8px;
    position: center;
    margin-top: -500px;
    margin-left: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    
}

.btn2 :hover{
    background: black;
    color: rgb(101, 26, 171);
}
